.grilla{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: blue;
    padding: 10px;
}
.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item{
    border: 1px solid red;
}
.item1{
    grid-column: 1/span 2;
}
.item5{
    grid-column: 3;
    grid-row: 1/span 2;
}